#player-seekbar {
    -webkit-appearance: none;
    height: 2px;
    border-radius: 999px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#player-seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #282828;
}

#player-seekbar::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #282828;
}

#player-seekbar::-webkit-slider-thumb:hover {
    background: rgba(40, 40, 40, 0.75);
}

#player-seekbar::-moz-range-thumb:hover {
    background: rgba(40, 40, 40, 0.75);
}